// Typography
$f-main: 'Playfair Display', serif;
$f-body: 'Montserrat', sans-serif;

// Weights
$fw-4: 400;
$fw-5: 500;
$fw-7: 700;

// Colors
$bg-white: #fafafa;
$black: #000000;
$gray: #333333;
$gray-light: #bdbdbd;
$orange: #f2994a;
